<%- include("header") -%>
<div class="box" id="heading">
  <h1><%= listTitle %></h1>
</div>
<div class="box">
  <form action="/" method="POST" class="item">
    <input
      type="text"
      name="newTask"
      placeholder="New Task"
      required
      autocomplete="off"
    />
    <button type="submit" name="list" value=<%=listTitle%>>+</button>
  </form>
  <% for (let i=0; i < newTask.length; i++){ %>
  <div class="item">
    <input type="checkbox" name="" id="" />
    <p><%= newTask[i] %></p>
  </div>
  <% } %>
  
</div>

<%- include("footer") -%>
